<launch>
    <arg name="launch_nuc" default="sony_cam1" />
    <arg name="fiducial_len" default="0.02"/>
    <arg name="dictionary" default="0"/>
    <group if = "$(eval launch_nuc == 'sony_cam1')">
        <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <arg name="camera" value="sony_cam1" />
        </include>
    </group>
    <group if = "$(eval launch_nuc == 'sony_cam2')">
        <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <arg name="camera" value="sony_cam2" />
        </include>
    </group>
    <group if = "$(eval launch_nuc == 'sony_cam3')">
        <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <arg name="camera" value="sony_cam3" />
        </include>
    </group>
</launch>