<launch>
  <arg name="model" default="$(find my_gazebo_model)/urdf/model.urdf"/>
  <param name="robot_description" textfile="$(arg model)"/>
  
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="-urdf -paused" respawn="false" output="screen"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model my_robot" />
</launch>

